body {
  background-color: black;
  color: white;
}
.topnav {
  overflow: hidden;
  background-color: #240FF3;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;  
}
#links {
  float: right;
  font-family: helvetica;
  font-weight: bold;
}
#links a:hover {
  background-color: #ddd;
  color: #240FF3;
}
hr.about {
	border-color: #FFFFFF;
  border-top: 3px double #8c8b8b;
  max-width: 600px;
  color: white;
}
#pictures img {
  margin-left: 25%;
}
#about p {
  font-size: 20px;
}
#portfolio {
  background-color: gray;
  color: white;
  margin: 0px 50px 0px 50px;
}
/* Add a hover effect (blue shadow) */
#portfolio img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.row {
  padding: 5px 5px;
}
#portfolio h1 {
  color: black;
}
#contact {
  background-color: white;
  margin: 0px 50px 0px 50px;
}
#contact h1 {
  color: black;
}
.no-border {
  border: none;
  margin-left: 75px;
}